# test with test data

In [1]:
import pandas as pd

In [2]:
test = pd.read_csv('test.csv')

In [3]:
test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [4]:
test_raw = test.copy()

In [5]:
test.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotFrontage      227
LotArea            0
                ...
MiscVal            0
MoSold             0
YrSold             0
SaleType           1
SaleCondition      0
Length: 80, dtype: int64

In [6]:
null_data2 = pd.DataFrame(data = test.isnull().sum(), columns = ['Num_empty'])

In [7]:
null_data2 = null_data2[null_data2['Num_empty'] >0]

In [8]:
#Columns to fill with most popular(mode):
mode_fill_col = ['MSZoning',  'Utilities', 'Exterior1st', 'Exterior2nd', 'MasVnrType',  'BsmtFullBath',
                   'BsmtHalfBath', 'KitchenQual', 'Functional',   'GarageYrBlt',  'GarageCars', 'SaleType']
mode_fill_col.sort()
#columns to fill with 'NA'
NA_fill_col = ['Alley','BsmtQual','BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2','FireplaceQu','GarageType','GarageFinish','GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']
NA_fill_col.sort()
#Columns to fill with mean
mean_fill_col = list(set(null_data2.index)-set(mode_fill_col)-set(NA_fill_col))
mean_fill_col.sort()

In [9]:
for i in mode_fill_col:
    test[i].fillna(test[i].mode()[0], inplace = True)
for i in NA_fill_col:
    test[i].fillna('NA', inplace = True)
for i in mean_fill_col:
    test[i].fillna(test[i].mean(), inplace = True)

In [10]:
mean_fill_col

['BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'GarageArea',
 'LotFrontage',
 'MasVnrArea',
 'TotalBsmtSF']

In [11]:
test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NA,Reg,Lvl,AllPub,...,120,0,NA,MnPrv,NA,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NA,IR1,Lvl,AllPub,...,0,0,NA,NA,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NA,IR1,Lvl,AllPub,...,0,0,NA,MnPrv,NA,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NA,IR1,Lvl,AllPub,...,0,0,NA,NA,NA,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NA,IR1,HLS,AllPub,...,144,0,NA,NA,NA,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NA,Reg,Lvl,AllPub,...,0,0,NA,NA,NA,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NA,Reg,Lvl,AllPub,...,0,0,NA,NA,NA,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NA,Reg,Lvl,AllPub,...,0,0,NA,NA,NA,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NA,Reg,Lvl,AllPub,...,0,0,NA,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NA,Reg,Lvl,AllPub,...,0,0,NA,NA,NA,0,11,2006,WD,Normal

In [12]:
test.to_csv('test_cleaned2.csv', index=False)

In [13]:
test.isnull().sum().sum()

0

### One hot encoder

In [14]:
test_matrix = col_trans.transform(test)
test_oh_encoded = pd.DataFrame.sparse.from_spmatrix(test_matrix, columns = col_trans.get_feature_names())

NameError: name 'col_trans' is not defined

In [ ]:
for i in range(len(ordinal_col)):
    ordinal_tran(test,ordinal_list[i], ordinal_col[i])

In [ ]:
test

In [ ]:
test.drop(columns = one_hot_col, inplace = True)

In [ ]:
test_encoded = test.join(test_oh_encoded)

In [ ]:
test_encoded

In [ ]:
test_scaled = scaler.transform(test_encoded)

In [ ]:
y_test_LR = LR.predict(test_scaled)

In [ ]:
y_test_LR

In [ ]:
sample_submit = pd.read_csv('sample_submission.csv')
submit = sample_submit.drop('SalePrice', axis = 1)
submit['SalePrice'] = y_test_LR
submit

In [ ]:
submit.to_csv('submission.csv', index = False)